@model cozo.ViewModels.ItemsList

@{
    ViewBag.Title = "Items List";
}

<h2>Items</h2>

<div class="col">
    <label for="SearchTerm">Search</label>
    <input class="form-control" type="text" id="SearchTerm" name="SearchTerm" value="@Model.SearchTerm" />
</div>
<div class="col">
    <label for="SortOrder">Sort by:</label>
    <select id="SortOrder" name="SortOrder" class="form-select">
        <option @(Model.SortOrder == null ? "selected" : "")>Select Sort</option>

        <option value="quantity" @(Model.SortOrder == "quantity" ? "selected" : "")>Quantity ↑</option>
        <option value="quantity_desc" @(Model.SortOrder == "quantity_desc" ? "selected" : "")>Quantity ↓</option>
        <option value="price" @(Model.SortOrder == "price" ? "selected" : "")>Price ↑</option>
        <option value="price_desc" @(Model.SortOrder == "price_desc" ? "selected" : "")>Price ↓</option>
    </select>
</div>

<p>
    @Html.ActionLink("Create New", "Form", "Items", null, new { @class = "btn btn-success" })
</p>

<div id="itemTable">
    @Html.Partial("_TablePartialView", Model.Items)
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete <strong id="itemNameText"></strong>?</p>
                <p>Price: <span id="itemPrice"></span></p>
                <p>Quantity: <span id="itemQuantity"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" onclick="confirmDelete()">Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Items/delete.js"></script>
    <script src="~/Scripts/Items/filter.js"></script>
}
